body{
    background-color: #E3FDFD;
}
.midpart{
    display: flex;
    justify-content: center;
    gap: 100px;
    
    margin-top: 30px;
    

}

.rock button,
.paper button,
.scissors button {
    width:40px; 
    height: 40px; 
    margin-left: 30px;
    margin-right: 30px;
    background: #E3FDFD;
    border: none;
    outline: none;


    
    
}
.heading{
    color: #71c9ce;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
#message{
    color: #71c9ce;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: larger;
    margin-top: 100px;
}
#endmessage{
    color: #71c9ce;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: larger;
    margin-top: 100px;
}

